{% extends "dashboard_base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-4 py-5">
    <!-- Company Logo Section -->
    <div class="me-4">
      <img src="{{ url_for('media_files', filename='uploads/logos/' + jobs.company.company_logo) }}" alt="Company Logo" class="img-fluid rounded-circle" style="max-width: 105px;border: 1px solid #0c0b0b26; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);">
    </div>
  
    <!-- Job Details Section -->
    <div>
      <h3 class="text-primary">{{ jobs.company.company_name }}</h3>
      <p class="mb-1">{{ jobs.company.location }}</p>
      <p class="mb-1">{{ jobs.company.email }}</p>
    </div>
</div>
  
<div class="container mt-4 p-4 bg-light">
    <div class="row justify-content-center">
        <!-- Column 1: Offered Salary and Experience -->
        <div class="col-md-4">
            <!-- Offered Salary -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <i class="fas fa-coins fa-2x text-primary"></i>
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Offered Salary</strong>
                        <p>{{ jobs.offered_salary or 'Negotiable' }}</p>
                    </div>
                </div>
            </div>

            <!-- Experience -->
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="fas fa-briefcase fa-2x text-primary"></i> 
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Experience</strong>
                        <p>{{ jobs.experience_required }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 2: Job Type, and Post Date -->
        <div class="col-md-4">
            <!-- Job Type -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <i class="fas fa-calendar-day fa-2x text-primary"></i> 
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Job Type</strong>
                        <p>{{ jobs.job_type }}</p>
                    </div>
                </div>
            </div>

            <!-- Post Date -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <i class="fas fa-clock fa-2x text-primary"></i> 
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Post Date</strong>
                        <p>{{ jobs.created_at.strftime('%b %d, %Y')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column 3: Vacancy, and Valid Date -->
        <div class="col-md-2">
            <!-- Vacancy -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <i class="fas fa-users fa-2x text-primary"></i> 
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Vacancy</strong>
                        <p>{{jobs.vacancy}}</p>
                    </div>
                </div>
            </div>

            <!-- Valid Date -->
            <div class="row mb-3 align-items-center">
                <div class="col-auto">
                    <i class="fas fa-calendar-alt fa-2x text-primary"></i> 
                </div>
                <div class="col">
                    <div>
                        <strong class="text-primary">Closing Date</strong>
                        <p>{{ jobs.closing_date.strftime('%b %d, %Y')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <h4 class="text-primary">Job Description</h4>
    <p class="text-justify">{{ jobs.description }}</p>
    
</div>
<div class="container py-5 bg-light rounded">
    <h4 class="text-primary mb-4">Job Specification</h4>
    <!-- Job Details in Two Columns -->
    <div class="row mb-2">
        <!-- Left Column (Titles) -->
        <div class="col-3 mb-2">
            <strong class="text-primary">Job Title</strong>
        </div>
        <!-- Right Column (Texts) -->
        <div class="col-8">
            {{ jobs.job_title }}
        </div>
    </div>

    <div class="row mb-2">
        <!-- Left Column (Titles) -->
        <div class="col-3 mb-2">
            <strong class="text-primary">Education</strong>
        </div>
        <!-- Right Column (Texts) -->
        <div class="col-8">
            {{ jobs.education_required }}
        </div>
    </div>
    <div class="row mb-2 ">
        <!-- Left Column (Titles) -->
        <div class="col-3 mb-2">
            <strong class="text-primary">Key Skills</strong>
        </div>
        <!-- Right Column (Texts) -->
        <div class="col-8 mb-2">
            {% for skill in jobs.skills_required.split(',') %}
                    <li>{{ skill.strip() }}</li>
                {% endfor %}
        </div>
    </div> 
    <div class="row mb-2">
        <!-- Left Column (Titles) -->
        <div class="col-3 mb-2">
            <strong class="text-primary">Status</strong>
        </div>
        <!-- Right Column (Texts) -->
        <div class="col-8">
            {{ jobs.status }}
        </div>
    </div>
</div>

<div class="d-flex justify-content-center gap-2 py-5">
    <a href="{{ url_for('company_posts') }}" class="btn btn-primary px-4">Back</a>
</div>
{% endblock %}
